version: 2
jobs:
  test:
    docker:
      - image: circleci/node:10

    working_directory: /tmp/decentraland-dapps

    steps:
      - checkout
      - restore_cache:
          keys:
            - dependencies-{{ checksum "package-lock.json" }}
      - run:
          name: Install node dependencies
          command: npm ci
      - save_cache:
          paths:
            - node_modules
          key: dependencies-{{ checksum "package-lock.json" }}
      - run:
          name: Run tests
          command: npm test

  build:
    docker:
      - image: circleci/node:10

    working_directory: /tmp/decentraland-dapps

    steps:
      - checkout
      - restore_cache:
          keys:
            - dependencies-{{ checksum "package-lock.json" }}
      - run:
          name: Install node dependencies
          command: npm install
      - run:
          name: Build library
          command: npm run build
      - save_cache:
          paths:
            - dist
          key: dist-{{ .Branch }}-{{ .Revision }}

  release:
    docker:
      - image: circleci/node:10

    working_directory: /tmp/decentraland-dapps

    steps:
      - checkout
      - restore_cache:
          keys:
            - dist-{{ .Branch }}-{{ .Revision }}
      - restore_cache:
          keys:
            - dependencies-{{ checksum "package-lock.json" }}
      - run:
          name: Install node dependencies
          command: npm install
      - run:
          name: Semantic release
          command: npm run semantic-release

workflows:
  version: 2
  test-build-release:
    jobs:
      - test
      - build:
          requires:
            - test
      - release:
          requires:
            - build
          filters:
            branches:
              only: master
